/* h1{
    color:violet;
}
button{
    color: white;
    background-color: black;
}
.introduction{
    color: rgb(26, 6, 247);
}
#two{
    color: brown;
     font-size: 20px;
     line-height: 10px;
     font-family:'Times New Roman', Times, serif;
     text-transform:capitalize;
     text-align: center;
     text-decoration: underline;
}
/* div{
    width: 200px;
    height: 200px;
    line-height: 10px;
    /* border-style: dashed;
    border-width: 3px ;
    border-color: black; */
    /* background-color: blanchedalmond;
    border: 3px dashed black;
    text-align: center;
    border-radius: 50%;
    padding-top: 100px;
} */






/* *{
    margin: 0;
    padding: 0;
} */
/* *{
    background-color: black;
    margin: 50px;
    padding: 50px;
    border:50px solid black;
}
/* traffic{
    width: 75px;
    height: 170px;
    background:black;
 } */
 /* .stop{
    background-color: red;
    padding: 100px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.go{
    background-color:green;
    padding: 100px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.wait{
    background-color:yellow;
    padding: 100px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
} */








/* *{
    margin: 0;
    padding: 0;
    color:white;
}
#navbar{
    height: 60px;
    background-color: black;
    
}
#logo{
    color:orange;
    font-size: 30px;
}
button{
    background-color:orange;
}
a{
    margin: 100px;
} */


